@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apple-style scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.holiday {
    margin: 10px;
    /* border: 1px solid #3DA5D9; */
    border-radius: 10px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    min-width: 700px;
    min-height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #3A405A;
    text-align: center;
    transition: all 0.3s ease;
}
.holiday:hover {
    background-color: #3DA5D9;
    color: #FFFFFF;
}
.holiday .title {
    font-weight: 800;
    font-size: 22px;
    margin: 5px;
    padding: 0;
}
.holiday span {
    margin: 5px;
    padding: 0;
}
a {
    color: #3DA5D9;
    text-decoration: none;
}
.holiday a:hover {
    color: #FF9F1C;
}
.holiday .header {
  border-radius: 7px 7px 0 0;
}
.holiday .footer {
  border-radius: 0 0 7px 7px
}

.holiday .footer, .holiday .header {
    background-color: #3A405A;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 10px 0;
}
.slideshow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      position: relative;
  }

  .slideshow img {
      display: none;
      max-width: 100%;
      max-height: 100%;
  }

  .previous-button,
  .next-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #333;
      font-size: 20px;
      transition: opacity 0.3s ease;
  }

  .previous-button:hover,
  .next-button:hover {
      opacity: 1;
      background-color: #333;
      color: #ddd;
  }

  .controls {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .controls button {
      margin: 0 5px;
      padding: 5px 10px;
      background-color: #f1f1f1;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      color: #333;
      font-size: 14px;
      transition: background-color 0.3s ease;
  }

  .controls button:hover {
      background-color: #ddd;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: #3A405A;
    background-color: #3DA5D9;
    margin: 0;
}
.search-bar {
    background-color: #3A405A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.input-hidden {
    display: none;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    min-width: 30px;
}

input:focus {
    box-shadow: inset 0 0 2px rgba(58, 64, 90, 0.9);
}

footer {
    background-color: #000F08;
    color: #FFFFFF;
}

.search {
    background-color: #FF9F1C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.dropdown-search {
    position: absolute;
    display: flex;
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width:229px;
    max-height: 500px;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
}

.link {
    color: #3DA5D9;
    text-decoration: none;
}

.link:hover {
    color: #FF9F1C;
}

.result {
    color: #07004D;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 35px;
}

.result:hover {
    background-color: #FF9F1C;
}

/* Media Query for Mobile Users */
@media only screen and (max-width: 1235px) {
    .search-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
