<form method="post">
  <div class="search-bar">
    <input name="from" type="text" class="input-box" placeholder="From">

    <input name="to" type="text" class="input-hidden" id="location">
    <div class="destination-results" id="dr">
      <input type="text" class="input-box" placeholder="To" id="_to" oninput="this.onchange"> 
      <div class="result">
        
      </div>
    </div>

    <input name="when" type="date" class="date-picker" placeholder="When">
    <input name="duration" type="number" class="input-box" placeholder="Duration">
    <input name="who" type="text" class="input-box" placeholder="Who">
    <input type="submit" class="search">
  </div>
</form>

<style>
  .destination-results {
    display: flex;
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    flex-direction: column;
  }
  .result {
    width: 100%;
    margin: 4px;
    align-content: center;
  }
  .result:hover {
    cursor: pointer;
    background-color: #efefef;
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
  }
  .input-hidden {
    display: none;
  }
  .input-box, .date-picker, .search {
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 0 10px;
    height: 40px;
  }

  .search-bar input[type=text] {
      padding: 10px;
      margin: 5px;
  }

  .search-bar .search {
      background-color: orange;
      border: none;
      
  }

</style>
<script>
  function setLocation(name, ej, tc, j2, tu) {
    document.getElementById("_to").value = name;
    document.getElementById("location").value = `${ej},${tc},${j2},${tu}`;
  }
  async function get_searchbar_results(q) {
    let resultsbox = document.getElementById("dr");
    if (q.length < 3) {
      return;
    }
    let res = [];
    await fetch(`/searchbar/${q}`)
      .then(response => response.json())
      .then(data => {
        res = data;
        for (let i = 0; i < data.length; i++) {
          let resultDiv = document.createElement("div");
          resultDiv.classList.add("result");
          resultDiv.textContent = data[i].name;
          resultDiv.id = data[i].name;
          resultsbox.appendChild(resultDiv);
        }
      });
    for (let i = 0; i < res.length; i++) {
      let el = document.getElementById(res[i].name);
      console.log(el);
      el.addEventListener("click", () => setLocation(res[i].name, res[i].ej, res[i].tc, res[i].j2, res[i].tu))
    }
  }
  let _location = document.getElementById("location");
  let _to = document.getElementById("_to");

  _to.addEventListener("change", (e) => {
    console.log(e.target.value);
    let res = get_searchbar_results(e.target.value)
  });
</script>