
<form method="post">
  <div class="search-bar">
    <input name="from" type="text" class="input-box" placeholder="From">

    <input name="to" type="text" class="input-hidden" id="location">
    <input type="text" class="input-box" placeholder="To" id="_to" oninput="this.onchange"> 

    <input name="when" type="date" class="date-picker" placeholder="When">
    <input name="duration" type="number" class="input-box" placeholder="Duration">
    <input name="who" type="text" class="input-box" placeholder="Who">
    <input type="submit" class="search">
  </div>
  
</form>

<style>
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
  }
  .input-hidden {
    display: none;
  }
  .input-box, .date-picker, .search {
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 0 10px;
    height: 40px;
  }

  .search-bar input[type=text] {
      padding: 10px;
      margin: 5px;
  }

  .search-bar .search {
      background-color: orange;
      border: none;
      
  }

</style>
<script>
  function get_searchbar_results(q) {
    if (q.length < 1) {
      return;
    }
    fetch(`/searchbar/${q}`)
      .then(response => response.json())
      .then(data => {
        console.log(data);
      });
  }

  let _location = document.getElementById("location");
  let _to = document.getElementById("_to");

  _to.addEventListener("change", (e) => {
    console.log(e.target.value);
    let res = get_searchbar_results(e.target.value)
  });
</script>